body {
    font-family: 'Poppins', sans-serif;;
    font-size: 16px;
    background: url("https://storage.googleapis.com/capstone-bukitvista/src/media/bg.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    margin-top: 58px;
}

.nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo,
.nav-ctas{
    width: 20%;
}

.nav-logo {
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu-item {
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

.menu .menu-item{
    margin: 0 50px;
}

.menu-item:hover{
    opacity: 1;
    border-bottom: 1px solid black;
} 

.menu-item-active{
    opacity: 1;
    font-weight: 600;
}

.nav-ctas{
    text-align: right;
}

.about-us {
    padding: 10px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    font-weight: 600px;
    padding: 135px 0;
    flex-direction: column;
    gap: 15px;
    width: 653px;
    align-items: center;
    margin: 0 auto;
}

.hero-headline,
.hero-subheadline{
    text-align: center;
    margin: 0;
}

.hero-headline {
    font-size: 36px;
    font-weight: 600px;
    line-height: 55px;
}

.hero-subheadline {
    font-size: 16px;
    line-height: 32px;
    width: 553px;
    color: rgba(0, 0, 0, 0.6);
}

.hero-ctas {
    margin-top: 30px;
    display: flex;
    gap: 20px;

}

.cta-primary,
.cta-secondary{
    padding: 12px 17px;
    display: inline-block;
    font-weight: 600;
}

.cta-primary {
    background-color: #001AFF;
    color: white;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.cta-secondary{
    color: #001AFF;

}

.works {
    text-align: left;
    padding-bottom: 80px;
}

.works-headline{
    margin: 0 0 17px 0;
    font-size: inherit;
    font-weight: 600;
}

.works-list {
    display: flex;
    gap: 30px;
}

.work {
    width: calc(100%/3);
    padding: 25px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 30px 60px 0px rgba(0, 26, 255, 0.10);
    text-decoration: none;
}

.work:hover{
    background-color: #001AFF;
    transition: all 0.15s;
}

.work:hover .work-title,
.work:hover .work-salary{
    color: #fff;
}

.work:hover .work-company,
.work:hover .work-description{
   color: rgba(255, 255, 255, 0.8);
}

.work:hover .work-divider {
    background-color: rgba(255, 255, 255, 0.15);
}

.work:hover .work-tag {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.work-header{
    display: flex;
    align-items: center;
}



.work-title{
    color: #000;
    font-size: 18px;
    margin: 0 0 5px 0;
}

.work-company{
    margin: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.work-description{
    margin: 17px 0;
    color: rgba(0, 0, 0, 0.8);
    line-height: 26px;
}


/* description di atas searchbar */
.search-section{
    display: flex;
    font-weight: 600px;
    padding: 70px 0;
    flex-direction: column;
    gap: 15px;
    width: 653px;
    align-items: center;
    margin: 0 auto;
}

.description{
    font-size: 36px;
    font-weight: 600px;
    line-height: 55px;
    color: black;
}

.bg-white-opacity {
    background: rgba(255, 255, 255, 0.8); /* Warna putih dengan opacity 80% */
}


#search-form, #results {
    background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    border-radius: 0.375rem; /* Rounded corners */
    padding: 1rem; /* Padding for the content */
}

.documentation {
    background: #fff;
    padding: 50px 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 58px;
    margin: 80px 200px 30px 200px;
}

.documentation h1{
    text-align: center;
    margin-bottom: 40px;
}

article{
    margin: 0 20px;
}

article p {
    font-size: 16px;
    margin: 20px 0;
}

article h3 {
    margin: 20px 0 40px 0;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }


/* about us */

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add some gap between columns */
}

.about-col {
    flex: 1 1 calc(25% - 20px); /* Ensure each column takes up 25% of the width minus the gap */
    max-width: calc(25% - 20px); /* Ensure each column doesn't exceed 25% of the width minus the gap */
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.about-col img {
    width: 100%;
    border-radius: 10px;
}

.about-col p {
    padding: 0;
}

.about-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
